html{
    font-size: 10px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}
#paratitle{
font-size: 2rem;
}

p{
    font-size:1.7rem;
   text-align: centre; 
}
@media(min-width:460px){
    p{
    font-size: 2rem;
   text-align: centre; 
}
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }

#img-div{
    padding: 10px;
    margin: 0;
   background: whitesmoke;
}

#img-caption {
    margin: 15px 0 5px 0;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
h1{
   font-size: 4rem; 
   margin-bottom: 0;
}
@media (max-width: 460px){
    h1{
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

a{
    color: rgb(83, 156, 190);
    /* text-decoration: none; */
}
#main{
    margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: rgb(234, 238, 234);
}

@media(max-width:460px){
    #main{
        margin: 0;
    }
}

ol {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
    font-size: 20px;;
  }
  #quote{
      font-style: italic;
      max-width: 545px;
      margin: 0 auto 50px auto;
      text-align: left;
    }
    @media(min-width:460px){
        #quote{
        font-size: 20px;
        }
    }
